:root {
  --main-color: #757575;
  --second-color: #212121;
  --third-color: #ffffff;
  --accent-color: #2196f3;
  --bg-color: #f5f4fa;
}

body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.active-link {
  color: var(--accent-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
}

/* Header */

.head {
  border: 1px solid #ececec;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.container .nav {
  display: inline-block;
}

.main-nav {
  display: flex;
  align-items: center;
}

.ul-nav {
  display: flex;
  margin: 0;
}

.item-nav:not(:last-child) {
  margin-right: 40px;
}

.list .nav {
  padding-top: 32px;
  padding-bottom: 32px;
}

.logo {
  padding-right: 93px;

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #000000;
  text-decoration: none;
}

.logo .logo-title {
  color: var(--accent-color);
}

.nav {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-color);
  text-decoration: none;
}

.nav:hover,
.nav:focus {
  color: var(--accent-color);
}

.header-contact {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
  text-decoration: none;
}

.contacts-header {
  margin-left: auto;
}

.header-contact:not(:last-child) {
  margin-right: 30px;
}

.header-contact:hover,
.header-contact:focus {
  color: var(--accent-color);
}

.list {
  list-style-type: none;
}

/* Main */

.hero {
  max-width: 1600px;
  max-height: 600px;
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(to right, rgba(62, 70, 160, 0.4)),
    url("../images/hero-background.jpg");
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--third-color);
}

.hero-button {
  display: block;
  min-width: 200px;
  padding: 10px 32px 10px 32px;
  border: transparent;
  border-radius: 4px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--third-color);
  background-color: var(--accent-color);

  cursor: pointer;
}

.features .list {
  display: flex;
  padding: 0;
}

.container .features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features .list-item:not(:last-child) {
  margin-right: 30px;
}

.features-title {
  margin-top: 30px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--second-color);
}

.features-text {
  margin-top: 10px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--second-color);
}

.container .list-description {
  display: flex;
  padding: 0;
  padding-bottom: 94px;
  margin-top: 50px;
}

.container .list-item:not(:last-child) {
  margin-right: 30px;
}

.team-section {
  background-color: var(--bg-color);
}

.team-title-main {
  padding-top: 94px;
}

.team-title {
  margin-top: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--second-color);
}

.team-text {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.team {
  background-color: var(--third-color);
  min-height: 368px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.container .list-team {
  display: flex;
  padding: 0;
  margin-top: 50px;
  padding-bottom: 94px;
}

.container .team:not(:last-child) {
  margin-right: 30px;
}

/* Footer */

.footer {
  background-color: #2f303a;
}

.logo .logo-footer-second {
  color: var(--third-color);
}
.footer-cont {
  padding-top: 60px;
  padding-bottom: 60px;
}

.address {
  margin-top: 20px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  color: var(--third-color);
}

.address-link {
  display: block;
  margin-top: 9px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}

/* Icons */

.icon-features {
  background-color: var(--bg-color);
  border-radius: 4px;
}

.icon-features-list {
  margin: 25px 100px;
}

.icon-mail {
  margin-right: 10px;
  fill: var(--main-color);
}
.icon-mail:hover {
  fill: var(--accent-color);
}

/* Portfolio */

.filter {
  padding: 6px 22px;
  border-radius: 4px;
  display: block;
  border: transparent;
  background-color: var(--bg-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-color);

  cursor: pointer;
}

.button-filter {
  margin-right: 8px;
}

.button-filter:last-child {
  margin-right: 0;
}

.filter:hover,
.filter:focus {
  background-color: var(--accent-color);
  color: var(--third-color);
}

.list-button {
  display: flex;
  justify-content: center;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.project-link {
  text-decoration: none;
}

.project-title {
  padding-left: 24px;
  margin-top: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-color);
}

.project-text {
  margin-top: 4px;
  padding-left: 24px;
  padding-bottom: 20px;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  padding: 0;
  margin-right: 30px;
}

.project-list {
  margin-right: 0;
}

.project-item {
  margin-right: 30px;
  margin-top: 30px;
}

.project-item:nth-child(-n + 3) {
  margin-top: 0;
}

.project-item:nth-child(3n + 3) {
  margin-right: 0;
}

.card-description {
  border: 1px solid #eeeeee;
  border-top-color: transparent;
}

.img-desc {
  display: block;
}
